a {
  text-decoration:none;
  color:ForestGreen;
}

#header a {
  color:white;
  text-decoration:none;
}

#header {
  background-color: Grey;
  color:white;
  margin-top: 10px;
  padding: 5px;
  border-radius:5px;
}

#header li {
  display: inline-table;
}

#header li:hover {
  background-color: InactiveCaptionText;
}

#nav ul {
  z-index:1000;
  position: absolute;
  display: none;
  background-color: InactiveCaptionText;
  padding: 5px;
}

#nav span {
  cursor:pointer;
}

#nav ul > li {
  display: list-item;
}

#nav li:hover ul{
  display:block;
}

#all-service, #top, #footer {
  background-color: ButtonFace;
  margin-top: 10px;
  padding: 5px;
  border-radius:5px;
}

#footer {
  margin-bottom: 10px;
}

#main {
  padding: 5px;  
}

#main-menu img {
  padding: 5px;
}

#main-menu, #projects, #comments {
  background-color: ButtonFace;
  margin: 10px 10px 0px 0px;
  padding: 5px;
  border-radius:5px;  
}

#basket, #news, #extra {
  background-color: ButtonFace;
  margin: 10px 0px 0px 10px;
  padding: 5px;
  border-radius:5px;   
}

#top, #footer,#projects {
  text-align: center;
}

.parent:hover {
  cursor: pointer;
}

.help {
  color:Crimson
}

.mymodal {
  position: fixed;
  padding: 15px;
  top: 50%;
  left: 50%;
  z-index: 1050;
  max-height: 500px;
  overflow: auto;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
    opacity:0.6;
}