{% extends 'index.html' %}
{% block main %}
    <p>{{ error }}</p>
    <p>В корзине
    {% if request.session.services %}
        {% for service in request.session.services %}
            <p>{{ service.title }} - {{ service.price }} руб.</p>
        {% endfor %}
        <p>{{ request.session.message }}</p>
        <p>Сумма заказа - {{ request.session.summary }} руб.</p>
    {% endif %}
    <a href="/clear_basket/">Очистить корзину</a>
{% endblock %}