<h2>{{ bonus.title }}</h2>
<p>{{ bonus.description }}</p>
<h4>Размер скидки - {{ bonus.size }} {{ bonus.metric }}. </h4>
<a href="/bonuses/"><button style="color:ForestGreen">К списку акций</button></a>