<form action="/calculator/" method="POST">{% csrf_token %}
    <div><a href="/rules/">Правила пользования</a></div>
    <div>
        <label>Тип услуги</label>
        {{calculator.service}}
    </div>
    <div class="bonus"></div>    
    <div>
        <label>Еденица измерения</label>
        {{calculator.metric}}
    </div>
    <div>
        <label>Цена за единицу</label>
        {{calculator.price}}
    </div>
    <div>
        <label>Количество</label>
        {{calculator.quantity}}
    </div>
    <input id="calculate" type="button" value="Считать">
    <div>
        <label>Сумма с учетом скидки</label>
        {{calculator.summary}}</br>
    </div>
    <div>
        <label>Примечание (оставьте свои пожелания к выполнению данной услуги)</label>
        {{calculator.remark}}</br>
    </div>
    <input id="to_basket" type="submit" value="Добавить в корзину">
</form>