{% load mptt_tags %}
<h2>{{ service }}</h2>
{% recursetree children %}
    {% if not node.is_leaf_node %}
        <p class="parent"><i class="icon-right-open"></i> {{ node.title }} </p>
        <div class="children" hidden>
            {{ children }}
        </div>
    {% else %}
        <p>
            {{ node.title }}
        </p>            
    {% endif %}
{% endrecursetree %}