{% load mptt_tags %}
{% for node in nodes %}
    {% ifequal node.level 0 %}
        <div class="top_service">
            <p> {{ node.title }} </p>
            {% for child in nodes %}
                {% ifequal child.level 1 %}
                    {% ifequal child.tree_id node.tree_id %}
                        <p><a href="/catalog/{{child.id}}/">{{ child.title }}</a></p>
                    {% endifequal %}
                {% endifequal %}
            {% endfor %}
        </div>
    {% endifequal %}
{% endfor %}