<form action="/add_comment/" method="POST">{% csrf_token %}
    <p>
        <label>Сообщение</label></br>
        {%for error in osform.body.errors %}
            <p class="help">{{ error }}</p>
        {% endfor %}
        {{osform.body}}
    </p>
    <input id="add_comment" type="button" value="Отправить">
</form>