<form action="/osform/" method="POST">{% csrf_token %}
    <p>
        <label>Заголовок</label></br>
        {{osform.title}}
    </p>
    <p>
        <label>Сообщение</label></br>
        {{osform.body}}
    </p>
    <input id="submit-osform" type="button" value="Отправить">
</form>