<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/960.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/static/css/fontello-codes.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script src="/static/js/lightbox.js"></script>
    {% block head_title %}
    {% endblock %}
</head>
<body>
    <div class="container_16">
        <div id="header" class="container_16">
            <div id="logo" class="grid_2">
                <a href="/">Логотип</a>
            </div>
            <div class="grid_14">
                <div id="contacts" class="grid_13">
                    <ul>
                        <li>+7 /495/ 123 45 67</li>
                        <li>email@oazis.ru</li>
                    </ul>
                </div>
                <div id="header-nav" class="grid_13">
                    <ul id="nav">
                        <li>
                            <a href="/about/">О компании</a>
                        </li>
                        <li>
                            <span>Каталог услуг</span>
                            <ul>
                                <li><a href="/catalog/">Все типы услуг</a></li>
                                <li><a href="/calculator/">Калькулятор</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/galleries/">Галерея</a>
                        </li>
                        <li>
                            <a href="/bonuses/">Акции</a>
                        </li>                        
                        <li>
                            <span>Контакты</span>
                            <ul>
                                <li><a href="/contacts/">Все контакты</a></li>
                                <li><a href="/map/">Схема проезда</a></li>
                                <li><a href="/osform/">Форма обратной связи</a></li>
                            </ul>   
                        </li>
                        <li>
                            <a href="/register/">Регистрация</a>
                        </li>
                        <li>
                            {% if user.is_anonymous %}
                                <a id="login" href="/login/">Войти</a>
                            {% else %}
                                <a href="/logout/">Выйти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="photo" hidden>
            <a id="prev" href=""> Назад </a>
            <a id="next" href=""> Вперед </a>
        </div>
        <div id="all-service" class="container_16">
        {% block all-service %}
            {% for node in nodes %}
                {% ifequal node.level 0 %}
                    <div class="grid_4">
                        <p> {{ node.title }} </p>
                        {% for child in nodes %}
                            {% ifequal child.level 1 %}
                                {% ifequal child.tree_id node.tree_id %}
                                    <p><a href="/catalog/{{child.id}}/">{{ child.title }}</a></p>
                                {% endifequal %}
                            {% endifequal %}
                        {% endfor %}
                        <p><a href="/catalog/{{node.id}}/">Подробнее</a></p>
                    </div>
                {% endifequal %}
            {% endfor %}
        {% endblock %}
        </div>
        {% block top %}
            <div id="top" class="container_16">
                {% for top in tops %}
                    <div class="grid_3">
                        <a href="/catalog/{{top.id}}/">{{ top.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
        <div id="main" class="container_16">
            <div class="container_16">
                <div id="main-menu" class="grid_12">
                    {% block main %}
                        <p>Какая-то общая информация</p>
                    {% endblock %}
                </div>
                <div id="basket" class="grid_4">
                    <p><a href="/basket/">Моя корзина</a></p>
                    {% if user.is_authenticated %}
                        <p><a href="/confirm_order/">Оформить заказ</a></p>
                        <p><a id="osform" href="/osform/">Отправить заявку</a></p>
                        <p><a href="/sertificate/">Подарочный сертификат</a></p>
                    {% endif %}
                    <form action="/search/" method="GET">
                        <input type="text" size="13" name="q">
                        <input id="search" type="submit" value="поиск">
                    </form>
                </div>
            </div>
            <div class="container_16">
                <div id="projects" class="grid_12">
                    <div id="last_projects" class="grid_5">
                        <h2>Последние проекты</h2>
                        {% for gallery in last_projects %}
                            <a href="/gallery/{{gallery.id}}/">{{ gallery.title }}</a></br>
                        {% endfor %}
                    </div>
                    <div id="current_projects" class="grid_5">
                        <h2>Текущие проекты</h2>
                        {% for gallery in current_projects %}
                            <a href="/gallery/{{gallery.id}}/">{{ gallery.title }}</a></br>
                        {% endfor %}
                    </div>
                </div>
                <div id="news" class="grid_4">
                    <h2>Новости</h2>
                </div>
            </div>
            <div class="container_16">
                <div id="comments" class="grid_12">
                    <h2>Отзывы</h2>
                    <a id="comment" href="">Добавить отзыв</a>
                    {% for comment in comments %}
                        <p>{{ comment.user }}</p>
                        <p>{{ comment.body }}</p>
                    {% endfor %}
                </div>
                <div id="extra" class="grid_4">
                    <div class="article">
                        <h2>Статьи</h2>
                        {% for article in articles %}
                            <p><a href="/article/{{article.id}}/">{{article.title}}</a></p>
                        {% endfor %}
                    </div>
                    <div class="advice">
                        <h2>Советы</h2>
                        {% for advice in advices %}
                            <p><a href="/advice/{{advice.id}}/">{{advice.title}}</a></p>
                        {% endfor %}              
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="container_16">
            <h2>Подвал</h2>
        </div>
        <div class="mymodal" hidden></div>
        <div class="modal-backdrop" hidden></div>
    </div>
</body>