{% extends 'index.html' %}
{% block main %}
    <form action="" method="post">{% csrf_token %}
        {% if form.errors %}
            <p>Неверное имя пользователя или пароль</p>
        {% endif %}
        <div>
            <label for="username">Имя пользователя</label>
            <div>
                <input type="text" name="username" value="" id="username">
            </div>
        </div>
        <div>     
            <label for="password">Пароль</label>
            <div>
                <input type="password" name="password" value="" id="password">
            </div>
        </div>
        <input type="submit" value="Войти" />
        <input hidden name="next" value="{{next|escape}}">
    </form>
{% endblock %}   