<form action="" method="post">{% csrf_token %}
    <p>
        <label>Имя пользователя</label></br>   
        {{form.username}}
        {% for error in form.username.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </p>
    <p>
        <label>Имя</label></br>
        {{form.firstname}}
        {% for error in form.firstname.errors %}
            <span>{{error}}</span>
        {% endfor %}             
    </p>
    <p>
        <label>Фамилия</label></br>
        {{form.lastname}}
        {% for error in form.lastname.errors %}
            <span>{{error}}</span>
        {% endfor %}             
    </p>
    <p>
        <label>Пароль</label></br>
        {{form.password1}}
        {% for error in form.password1.errors %}
            <span>{{error}}</span>
        {% endfor %}             
    </p>
    <p>
        <label>Подтверждение пароля</label></br>
        {{form.password2}}
        {% for error in form.password2.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </p>
    <p>
        <label>Электронная почта</label></br>
        {{form.email}}
        {% for error in form.email.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </p>        
    <input type="submit" value="Отправить">
</form>