{% extends 'index.html' %}
{% block main %}
    <h2>Список сертификатов</h2>
    {% for sertificate in sertificates %}
        <h3>{{ sertificate.sertificate }}</h3> 
        <p>Скидка {{ sertificate.size }} {{ sertificate.metric }}</p>
        <a href="/use_sertificate/{{ sertificate.id }}/">Применить к товарам в корзине</a>
    {% endfor %}
{% endblock %}